<h3>Demande d'ouverture de compte sur BileMo API</h3>
<ul>
	<li>Contact Name : {{ contactName }}</li>
	<li>FB Id : {{ fbId }}</li>
	<li>User Name : {{ username }}</li>
	<li>Adresse : {{ address }}</li>
	<li>email : {{ email }}</li>
</ul>	
<p>
	<b>Cordialement via le formulaire de contact.</b>
</p>

